// login
.login-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  background: $base-bg-color;
  border: 1px solid $base-bd-color;
  border-radius: 4px;
  margin-left: -175px;
  margin-top: -180px;
  padding: 40px;

  &.join-wrap {
    margin-top: -235px;
  }

  * {
    width: 100%;
    display: block;
  }

  label {
    color: $base-font-color;
    text-align: center;
    margin-bottom: 40px;
    font-size: 14px;
    letter-spacing: 8px;

    .title {
      font-size: 28px;
      letter-spacing: 3px;

      img {
        width: 40px;
        margin: 0 auto;
        padding: 5px;
      }
    }
  }

  input {
    height: 45px;
    padding: 10px;
    margin-bottom: 10px;
  }

  button {
    padding: 15px;
    margin-top: 20px;
    font-size: 14px;
  }

  a {
    color: #aaa;
    text-align: end;
    margin-top: 16px;
    cursor: pointer;
    font-weight: bold;
  }
}